.subunit.Lahul_and_Spiti{ fill: #000000; }
.subunit.Upper_Subansiri{ fill: #000000; }
.subunit.Upper_Siang{ fill: #000000; }
.subunit.Dibang_Valley{ fill: #000000; }
.subunit.South_Garo_Hills{ fill: #000000; }
.subunit.Karbi_Anglong{ fill: #000000; }
.subunit.Mayurbhanj{ fill: #000000; }
.subunit.Adilabad{ fill: #000000; }
.subunit.East_Godavari{ fill: #000000; }
.subunit.Lakshadweep{ fill: #000000; }
.subunit.Andamans{ fill: #000000; }
.subunit.Nicobars{ fill: #000000; }
.subunit.New_Delhi{ fill: #e6e600; }
.subunit.Central_Delhi{ fill: #c8c80a; }
.subunit.North_West_Delhi{ fill: #a1a117; }
.subunit.North_Delhi{ fill: #a1a117; }
.subunit.North_East_Delhi{ fill: #a1a117; }
.subunit.East_Delhi{ fill: #a1a117; }
.subunit.West_Delhi{ fill: #a1a117; }
.subunit.South_West_Delhi{ fill: #a1a117; }
.subunit.South_Delhi{ fill: #a1a117; }
.subunit.Faridabad{ fill: #7b7b24; }
.subunit.Gurgaon{ fill: #7a7a24; }
.subunit.Ghaziabad{ fill: #757525; }
.subunit.Sonipat{ fill: #4a4a34; }
.subunit.Baghpat{ fill: #424236; }
.subunit.Gautam_Buddha_Nagar{ fill: #222241; }
.subunit.Jhajjar{ fill: #00004c; }
.subunit.Meerut{ fill: #29293f; }
.subunit.Rohtak{ fill: #3a3a39; }
.subunit.Rewari{ fill: #545431; }
.subunit.Bulandshahar{ fill: #818122; }
.subunit.Panipat{ fill: #838321; }
.subunit.Bhiwani{ fill: #e0e002; }
.subunit.Muzaffarnagar{ fill: #dbdb04; }
.subunit.Jyotiba_Phule_Nagar{ fill: #d6d605; }
.subunit.Karnal{ fill: #cccc09; }
.subunit.Mahendragarh{ fill: #c7c70a; }
.subunit.Jind{ fill: #bcbc0e; }
.subunit.Aligarh{ fill: #a3a316; }
.subunit.Bijnor{ fill: #96961a; }
.subunit.Mathura{ fill: #878720; }
.subunit.Alwar{ fill: #777725; }
.subunit.Hathras{ fill: #4d4d33; }
.subunit.Kurukshetra{ fill: #474735; }
.subunit.Moradabad{ fill: #3a3a39; }
.subunit.Saharanpur{ fill: #28283f; }
.subunit.Hisar{ fill: #262640; }
.subunit.Kaithal{ fill: #242440; }
.subunit.Bharatpur{ fill: #0f0f47; }
.subunit.Yamunanagar{ fill: #272740; }
.subunit.Rampur{ fill: #2d2d3d; }
.subunit.Hardwar{ fill: #4b4b33; }
.subunit.Agra{ fill: #5d5d2e; }
.subunit.Etah{ fill: #6b6b29; }
.subunit.Jhunjhunun{ fill: #717127; }
.subunit.Ambala{ fill: #717127; }
.subunit.Budaun{ fill: #92921c; }
.subunit.Fatehabad{ fill: #97971a; }
.subunit.Firozabad{ fill: #afaf12; }
.subunit.Patiala{ fill: #b7b70f; }
.subunit.Dausa{ fill: #d8d805; }
.subunit.Panchkula{ fill: #c4c40b; }
.subunit.Sangrur{ fill: #c1c10c; }
.subunit.Churu{ fill: #bdbd0d; }
.subunit.Udham_Singh_Nagar{ fill: #b9b90f; }
.subunit.Bareilly{ fill: #b2b211; }
.subunit.Chandigarh{ fill: #b1b112; }
.subunit.Dehradun{ fill: #afaf12; }
.subunit.Dhaulpur{ fill: #9f9f18; }
.subunit.Fatehgarh_Sahib{ fill: #97971a; }
.subunit.Mansa{ fill: #90901c; }
.subunit.Sirsa{ fill: #8f8f1d; }
.subunit.Sikar{ fill: #8e8e1d; }
.subunit.Mainpuri{ fill: #8a8a1f; }
.subunit.Karauli{ fill: #6f6f28; }
.subunit.Sirmaur{ fill: #6d6d28; }
.subunit.Jaipur{ fill: #63632b; }
.subunit.Rupnagar{ fill: #3c3c39; }
.subunit.Morena{ fill: #36363b; }
.subunit.Nainital{ fill: #222241; }
.subunit.Pilibhit{ fill: #181844; }
.subunit.Farrukhabad{ fill: #0b0b49; }
.subunit.Etawah{ fill: #0a0a49; }
.subunit.Shahjahanpur{ fill: #232341; }
.subunit.Bathinda{ fill: #3f3f38; }
.subunit.Ludhiana{ fill: #404037; }
.subunit.Bhind{ fill: #5a5a2e; }
.subunit.Gwalior{ fill: #5a5a2e; }
.subunit.Solan{ fill: #60602c; }
.subunit.Nawanshahr{ fill: #6c6c28; }
.subunit.Hanumangarh{ fill: #99991a; }
.subunit.Sawai_Madhopur{ fill: #acac13; }
.subunit.Kannauj{ fill: #bcbc0e; }
.subunit.Moga{ fill: #bcbc0e; }
.subunit.Una{ fill: #cfcf08; }
.subunit.Hardoi{ fill: #e0e002; }
.subunit.Tonk{ fill: #dddd03; }
.subunit.Faridkot{ fill: #cece08; }
.subunit.Auraiya{ fill: #caca09; }
.subunit.Almora{ fill: #bfbf0d; }
.subunit.Muktsar{ fill: #bebe0d; }
.subunit.Hoshiarpur{ fill: #b2b211; }
.subunit.Tehri_Garhwal{ fill: #a9a914; }
.subunit.Garhwal{ fill: #a9a914; }
.subunit.Jalandhar{ fill: #a4a416; }
.subunit.Bilaspur{ fill: #8c8c1e; }
.subunit.Kanpur_Dehat{ fill: #797924; }
.subunit.Shimla{ fill: #787824; }
.subunit.Sitapur{ fill: #717127; }
.subunit.Kheri{ fill: #6d6d28; }
.subunit.Datia{ fill: #5f5f2d; }
.subunit.Firozpur{ fill: #5c5c2e; }
.subunit.Ganganagar{ fill: #5c5c2e; }
.subunit.Kapurthala{ fill: #575730; }
.subunit.Jalaun{ fill: #34343b; }
.subunit.Ajmer{ fill: #30303d; }
.subunit.Sheopur{ fill: #2b2b3e; }
.subunit.Rudraprayag{ fill: #242441; }
.subunit.Nagaur{ fill: #0b0b49; }
.subunit.Jhansi{ fill: #0c0c49; }
.subunit.Bikaner{ fill: #161645; }
.subunit.Champawat{ fill: #1e1e43; }
.subunit.Hamirpur{ fill: #232341; }
.subunit.Kanpur_Nagar{ fill: #31313c; }
.subunit.Shivpuri{ fill: #3b3b39; }
.subunit.Unnao{ fill: #4f4f32; }
.subunit.Uttarkashi{ fill: #565630; }
.subunit.Amritsar{ fill: #707027; }
.subunit.Mandi{ fill: #7e7e22; }
.subunit.Gurdaspur{ fill: #858520; }
.subunit.Kangra{ fill: #8a8a1f; }
.subunit.Bundi{ fill: #999919; }
.subunit.Lucknow{ fill: #a0a017; }
.subunit.Bageshwar{ fill: #b3b311; }
.subunit.Hamirpur{ fill: #bebe0d; }
.subunit.Kota{ fill: #d8d805; }
.subunit.Baran{ fill: #dfdf02; }
.subunit.Barabanki{ fill: #c6c60a; }
.subunit.Kathua{ fill: #acac13; }
.subunit.Chamoli{ fill: #abab14; }
.subunit.Bhilwara{ fill: #7f7f22; }
.subunit.Fatehpur{ fill: #7b7b24; }
.subunit.Lalitpur{ fill: #59592f; }
.subunit.Tikamgarh{ fill: #4f4f32; }
.subunit.Pithoragarh{ fill: #4e4e33; }
.subunit.Bahraich{ fill: #32323c; }
.subunit.Rae_Bareli{ fill: #212142; }
.subunit.Kullu{ fill: #0f0f48; }
.subunit.Guna{ fill: #08084a; }
.subunit.Mahoba{ fill: #06064b; }
.subunit.Banda{ fill: #0e0e48; }
.subunit.Jodhpur{ fill: #161645; }
.subunit.Gonda{ fill: #1e1e42; }
.subunit.Chittaurgarh{ fill: #34343b; }
.subunit.Chhatarpur{ fill: #36363a; }
.subunit.Shrawasti{ fill: #424236; }
.subunit.Jhalawar{ fill: #474735; }
.subunit.Pali{ fill: #5f5f2d; }
.subunit.Jammu{ fill: #767625; }
.subunit.Faizabad{ fill: #95951b; }
.subunit.Balrampur{ fill: #a6a615; }
.subunit.Rajsamand{ fill: #cbcb09; }
.subunit.Chamba{ fill: #cdcd08; }
.subunit.Sultanpur{ fill: #dada04; }
.subunit.Udhampur{ fill: #e3e301; }
.subunit.Neemuch{ fill: #d2d207; }
.subunit.Kaushambi{ fill: #caca09; }
.subunit.Pratapgarh{ fill: #92921c; }
.subunit.Sagar{ fill: #8b8b1e; }
.subunit.Rajgarh{ fill: #88881f; }
.subunit.Panna{ fill: #868620; }
.subunit.Allahabad{ fill: #7e7e23; }
.subunit.Chitrakoot{ fill: #7b7b24; }
.subunit.Basti{ fill: #3b3b39; }
.subunit.Ambedkar_Nagar{ fill: #2b2b3e; }
.subunit.Siddharthnagar{ fill: #252540; }
.subunit.Udaipur{ fill: #1c1c43; }
.subunit.Damoh{ fill: #121247; }
.subunit.Mandsaur{ fill: #0f0f47; }
.subunit.Jalor{ fill: #07074a; }
.subunit.Vidisha{ fill: #2e2e3d; }
.subunit.Sant_Kabir_Nagar{ fill: #3c3c38; }
.subunit.Sirohi{ fill: #414137; }
.subunit.Satna{ fill: #474735; }
.subunit.Jaunpur{ fill: #61612c; }
.subunit.Raisen{ fill: #8f8f1d; }
.subunit.Shajapur{ fill: #a2a216; }
.subunit.Sant_Ravidas_Nagar_Bhadohi{ fill: #b2b211; }
.subunit.Gorakhpur{ fill: #b7b70f; }
.subunit.Azamgarh{ fill: #d3d306; }
.subunit.Bhopal{ fill: #dddd03; }
.subunit.Mirzapur{ fill: #e2e201; }
.subunit.Jaisalmer{ fill: #dede02; }
.subunit.Rewa{ fill: #d9d904; }
.subunit.Rajauri{ fill: #cfcf07; }
.subunit.Ujjain{ fill: #c5c50b; }
.subunit.Maharajganj{ fill: #c1c10c; }
.subunit.Barmer{ fill: #baba0f; }
.subunit.Sehore{ fill: #b8b80f; }
.subunit.Banswara{ fill: #a0a017; }
.subunit.Katni{ fill: #9e9e18; }
.subunit.Kinnaur{ fill: #96961a; }
.subunit.Dungarpur{ fill: #90901c; }
.subunit.Varanasi{ fill: #8d8d1e; }
.subunit.Ratlam{ fill: #8c8c1e; }
.subunit.Doda{ fill: #727227; }
.subunit.Narsimhapur{ fill: #62622c; }
.subunit.Mau{ fill: #575730; }
.subunit.Deoria{ fill: #4b4b33; }
.subunit.Kushinagar{ fill: #4b4b34; }
.subunit.Dewas{ fill: #454535; }
.subunit.Jabalpur{ fill: #3b3b39; }
.subunit.Sidhi{ fill: #202042; }
.subunit.Chandauli{ fill: #191944; }
.subunit.Indore{ fill: #0d0d48; }
.subunit.Ghazipur{ fill: #111147; }
.subunit.Hoshangabad{ fill: #29293f; }
.subunit.Sabar_Kantha{ fill: #2e2e3d; }
.subunit.Sonbhadra{ fill: #34343b; }
.subunit.Pashchim_Champaran{ fill: #474735; }
.subunit.Umaria{ fill: #484835; }
.subunit.Kaimur_Bhabua{ fill: #999919; }
.subunit.Dhar{ fill: #acac13; }
.subunit.Banas_Kantha{ fill: #acac13; }
.subunit.Punch{ fill: #afaf12; }
.subunit.Ballia{ fill: #b1b112; }
.subunit.Gopalganj{ fill: #bbbb0e; }
.subunit.Jhabua{ fill: #c7c70a; }
.subunit.Buxar{ fill: #c8c80a; }
.subunit.Siwan{ fill: #c9c909; }
.subunit.Patan{ fill: #d5d505; }
.subunit.Dohad{ fill: #dfdf02; }
.subunit.Harda{ fill: #c4c40b; }
.subunit.Mahesana{ fill: #bbbb0e; }
.subunit.Mandla{ fill: #a6a615; }
.subunit.Saran{ fill: #808022; }
.subunit.Shahdol{ fill: #7c7c23; }
.subunit.Panch_Mahals{ fill: #5e5e2d; }
.subunit.Gandhinagar{ fill: #4e4e32; }
.subunit.Purba_Champaran{ fill: #464635; }
.subunit.Chhindwara{ fill: #464635; }
.subunit.Seoni{ fill: #444436; }
.subunit.Bhojpur{ fill: #1b1b44; }
.subunit.Betul{ fill: #151545; }
.subunit.Dindori{ fill: #101047; }
.subunit.Ahmadabad{ fill: #04044b; }
.subunit.Rohtas{ fill: #04044b; }
.subunit.Aurangabad{ fill: #181845; }
.subunit.West_Nimar{ fill: #242440; }
.subunit.Barwani{ fill: #31313c; }
.subunit.Vaishali{ fill: #515131; }
.subunit.East_Nimar{ fill: #67672a; }
.subunit.Garhwa{ fill: #6c6c28; }
.subunit.Kheda{ fill: #707027; }
.subunit.Anand{ fill: #717127; }
.subunit.Anantnag{ fill: #7d7d23; }
.subunit.Sheohar{ fill: #8a8a1f; }
.subunit.Badgam{ fill: #a5a515; }
.subunit.Pulwama{ fill: #a9a914; }
.subunit.Vadodara{ fill: #b0b012; }
.subunit.Srinagar{ fill: #b2b211; }
.subunit.Balaghat{ fill: #b4b410; }
.subunit.Patna{ fill: #bdbd0d; }
.subunit.Muzaffarpur{ fill: #c0c00d; }
.subunit.Jehanabad{ fill: #e3e301; }
.subunit.Sitamarhi{ fill: #e2e201; }
.subunit.Palamu{ fill: #b5b510; }
.subunit.Gaya{ fill: #87871f; }
.subunit.Surendranagar{ fill: #818122; }
.subunit.Kawardha{ fill: #6e6e28; }
.subunit.Gondiya{ fill: #6d6d28; }
.subunit.Narmada{ fill: #5e5e2d; }
.subunit.Baramula{ fill: #4e4e32; }
.subunit.Samastipur{ fill: #434336; }
.subunit.Nagpur{ fill: #31313c; }
.subunit.Bhandara{ fill: #212142; }
.subunit.Chatra{ fill: #1d1d43; }
.subunit.Darbhanga{ fill: #1d1d43; }
.subunit.Nalanda{ fill: #111147; }
.subunit.Koriya{ fill: #04044b; }
.subunit.Bharuch{ fill: #01014c; }
.subunit.Kupwara{ fill: #242441; }
.subunit.Madhubani{ fill: #35353b; }
.subunit.Amravati{ fill: #36363b; }
.subunit.Nawada{ fill: #535331; }
.subunit.Dhule{ fill: #545431; }
.subunit.Nandurbar{ fill: #59592f; }
.subunit.Jalgaon{ fill: #5c5c2e; }
.subunit.Surguja{ fill: #66662a; }
.subunit.Sheikhpura{ fill: #787825; }
.subunit.Kodarma{ fill: #797924; }
.subunit.Begusarai{ fill: #87871f; }
.subunit.Wardha{ fill: #a4a416; }
.subunit.Bhavnagar{ fill: #a7a715; }
.subunit.Hazaribagh{ fill: #a9a914; }
.subunit.Bilaspur{ fill: #bcbc0e; }
.subunit.Lohardaga{ fill: #d5d505; }
.subunit.Buldana{ fill: #d8d805; }
.subunit.Lakhisarai{ fill: #dcdc03; }
.subunit.Rajnandgaon{ fill: #d9d904; }
.subunit.Surat{ fill: #c0c00c; }
.subunit.Akola{ fill: #bfbf0d; }
.subunit.Rajkot{ fill: #bcbc0e; }
.subunit.Durg{ fill: #b9b90f; }
.subunit.Korba{ fill: #b8b80f; }
.subunit.Khagaria{ fill: #b1b112; }
.subunit.Saharsa{ fill: #9b9b19; }
.subunit.Raipur{ fill: #99991a; }
.subunit.Jamui{ fill: #98981a; }
.subunit.Janjgir_-_Champa{ fill: #868620; }
.subunit.Jashpur{ fill: #848421; }
.subunit.Navsari{ fill: #6f6f28; }
.subunit.Yavatmal{ fill: #59592f; }
.subunit.Supaul{ fill: #515131; }
.subunit.Gumla{ fill: #515132; }
.subunit.Madhepura{ fill: #4a4a34; }
.subunit.Munger{ fill: #494934; }
.subunit.Kachchh{ fill: #494934; }
.subunit.Leh_Ladakh{ fill: #454535; }
.subunit.Amreli{ fill: #131346; }
.subunit.Ranchi{ fill: #111147; }
.subunit.Giridih{ fill: #0a0a49; }
.subunit.Mahasamund{ fill: #1a1a44; }
.subunit.Jamnagar{ fill: #1d1d43; }
.subunit.Gadchiroli{ fill: #1f1f42; }
.subunit.Chandrapur{ fill: #202042; }
.subunit.Dhanbad{ fill: #2b2b3e; }
.subunit.Bokaro{ fill: #2f2f3d; }
.subunit.Washim{ fill: #3c3c38; }
.subunit.Kargil{ fill: #3e3e38; }
.subunit.Valsad{ fill: #484835; }
.subunit.Dhamtari{ fill: #4a4a34; }
.subunit.The_Dangs{ fill: #4d4d33; }
.subunit.Jalna{ fill: #535331; }
.subunit.Bhagalpur{ fill: #767625; }
.subunit.Aurangabad{ fill: #9d9d18; }
.subunit.Banka{ fill: #aeae12; }
.subunit.Deoghar{ fill: #b4b411; }
.subunit.Junagadh{ fill: #b7b710; }
.subunit.Daman{ fill: #baba0e; }
.subunit.Raigarh{ fill: #cdcd08; }
.subunit.Nashik{ fill: #e4e400; }
.subunit.Hingoli{ fill: #e5e500; }
.subunit.Purnia{ fill: #e4e401; }
.subunit.Puruliya{ fill: #e3e301; }
.subunit.Kanker{ fill: #dfdf02; }
.subunit.Sundargarh{ fill: #dfdf02; }
.subunit.Dadra_and_Nagar_Haveli{ fill: #dddd03; }
.subunit.Araria{ fill: #cdcd08; }
.subunit.Nuapada{ fill: #a4a416; }
.subunit.Godda{ fill: #93931c; }
.subunit.Katihar{ fill: #767625; }
.subunit.Jharsuguda{ fill: #707027; }
.subunit.Sahibganj{ fill: #525231; }
.subunit.Dumka{ fill: #2c2c3e; }
.subunit.Diu{ fill: #272740; }
.subunit.Bankura{ fill: #101047; }
.subunit.Bargarh{ fill: #02024c; }
.subunit.Porbandar{ fill: #09094a; }
.subunit.Bid{ fill: #0b0b49; }
.subunit.Parbhani{ fill: #161645; }
.subunit.Kishanganj{ fill: #1d1d43; }
.subunit.Ahmadnagar{ fill: #2c2c3e; }
.subunit.Sambalpur{ fill: #4b4b34; }
.subunit.Uttar_Dinajpur{ fill: #4e4e32; }
.subunit.Nanded{ fill: #58582f; }
.subunit.Pashchimi_Singhbhum{ fill: #61612c; }
.subunit.Purbi_Singhbhum{ fill: #a3a316; }
.subunit.Pakaur{ fill: #b9b90f; }
.subunit.Barddhaman{ fill: #c7c70a; }
.subunit.Balangir{ fill: #e2e201; }
.subunit.Debagarh{ fill: #dbdb03; }
.subunit.Maldah{ fill: #c4c40b; }
.subunit.Sonapur{ fill: #c1c10c; }
.subunit.Birbhum{ fill: #baba0e; }
.subunit.Jalpaiguri{ fill: #afaf12; }
.subunit.Thane{ fill: #aeae13; }
.subunit.Bastar{ fill: #89891f; }
.subunit.Darjiling{ fill: #717127; }
.subunit.Kalahandi{ fill: #67672a; }
.subunit.Dakshin_Dinajpur{ fill: #60602c; }
.subunit.Mumbai{ fill: #5e5e2d; }
.subunit.Mumbai_Suburban{ fill: #5d5d2e; }
.subunit.Medinipur{ fill: #4d4d33; }
.subunit.Pune{ fill: #424236; }
.subunit.Karimnagar{ fill: #3b3b39; }
.subunit.Latur{ fill: #222241; }
.subunit.Dantewada{ fill: #1f1f42; }
.subunit.Nabarangapur{ fill: #121246; }
.subunit.Murshidabad{ fill: #0c0c49; }
.subunit.Osmanabad{ fill: #05054b; }
.subunit.Baudh{ fill: #03034c; }
.subunit.Kendujhar{ fill: #171745; }
.subunit.Haora{ fill: #6d6d28; }
.subunit.Kolkata{ fill: #97971a; }
.subunit.Koch_Bihar{ fill: #afaf12; }
.subunit.Raigarh{ fill: #b7b710; }
.subunit.Solapur{ fill: #c2c20c; }
.subunit.Koraput{ fill: #cbcb09; }
.subunit.Nadia{ fill: #d8d804; }
.subunit.Anugul{ fill: #e2e201; }
.subunit.South_Sikkim{ fill: #e1e102; }
.subunit.East_Sikkim{ fill: #dddd03; }
.subunit.Bidar{ fill: #dada04; }
.subunit.West_Sikkim{ fill: #d8d804; }
.subunit.Baleshwar{ fill: #d2d207; }
.subunit.Kandhamal{ fill: #abab13; }
.subunit.Satara{ fill: #96961b; }
.subunit.Hugli{ fill: #94941b; }
.subunit.Rayagada{ fill: #787825; }
.subunit.North_Twenty_Four_Parganas{ fill: #62622c; }
.subunit.South_Twenty_Four_Parganas{ fill: #62622c; }
.subunit.Malkangiri{ fill: #525231; }
.subunit.Dhenkanal{ fill: #404037; }
.subunit.Medak{ fill: #0f0f48; }
.subunit.Bhadrak{ fill: #01014c; }
.subunit.Dhubri{ fill: #101047; }
.subunit.Kokrajhar{ fill: #222241; }
.subunit.Gulbarga{ fill: #32323c; }
.subunit.Jajapur{ fill: #34343b; }
.subunit.Nayagarh{ fill: #545430; }
.subunit.Nalgonda{ fill: #69692a; }
.subunit.Bijapur{ fill: #6d6d28; }
.subunit.Cuttack{ fill: #7a7a24; }
.subunit.Khammam{ fill: #878720; }
.subunit.Khordha{ fill: #a4a416; }
.subunit.Bongaigaon{ fill: #adad13; }
.subunit.Sangli{ fill: #baba0f; }
.subunit.Gajapati{ fill: #d8d804; }
.subunit.Kendrapara{ fill: #e2e201; }
.subunit.Warangal{ fill: #cece08; }
.subunit.Kolhapur{ fill: #b0b012; }
.subunit.Goalpara{ fill: #a8a815; }
.subunit.North_Sikkim{ fill: #8f8f1d; }
.subunit.West_Garo_Hills{ fill: #8c8c1e; }
.subunit.Vizianagaram{ fill: #8a8a1f; }
.subunit.Srikakulam{ fill: #7c7c23; }
.subunit.Jagatsinghapur{ fill: #67672a; }
.subunit.Puri{ fill: #515131; }
.subunit.Nizamabad{ fill: #454536; }
.subunit.Bagalkot{ fill: #1f1f42; }
.subunit.Barpeta{ fill: #0a0a49; }
.subunit.Ganjam{ fill: #07074a; }
.subunit.Mahbubnagar{ fill: #232341; }
.subunit.East_Garo_Hills{ fill: #33333b; }
.subunit.Visakhapatnam{ fill: #3b3b39; }
.subunit.Krishna{ fill: #414137; }
.subunit.Ratnagiri{ fill: #494934; }
.subunit.Nalbari{ fill: #747426; }
.subunit.West_Godavari{ fill: #98981a; }
.subunit.Guntur{ fill: #99991a; }
.subunit.Raichur{ fill: #bcbc0e; }
.subunit.Belgaum{ fill: #c7c70a; }
.subunit.Kamrup{ fill: #dede03; }
.subunit.Sindhudurg{ fill: #9a9a19; }
.subunit.Gadag{ fill: #787825; }
.subunit.Koppal{ fill: #66662a; }
.subunit.Darrang{ fill: #414137; }
.subunit.Dharwad{ fill: #414137; }
.subunit.Kurnool{ fill: #3d3d38; }
.subunit.West_Khasi_Hills{ fill: #151545; }
.subunit.Prakasam{ fill: #565630; }
.subunit.North_Goa{ fill: #6c6c28; }
.subunit.South_Tripura{ fill: #747426; }
.subunit.Marigaon{ fill: #95951b; }
.subunit.Rangareddi{ fill: #95951b; }
.subunit.West_Tripura{ fill: #9b9b19; }
.subunit.Bellary{ fill: #9e9e18; }
.subunit.Haveri{ fill: #aaaa14; }
.subunit.Ri-Bhoi{ fill: #c9c909; }
.subunit.South_Goa{ fill: #d6d605; }
.subunit.Hyderabad{ fill: #cfcf08; }
.subunit.Sonitpur{ fill: #baba0e; }
.subunit.Nagaon{ fill: #a5a515; }
.subunit.Davanagere{ fill: #747426; }
.subunit.Uttara_Kannada{ fill: #4d4d33; }
.subunit.East_Khasi_Hills{ fill: #33333b; }
.subunit.Dhalai{ fill: #06064a; }
.subunit.Nellore{ fill: #0a0a49; }
.subunit.Anantapur{ fill: #0a0a49; }
.subunit.Chitradurga{ fill: #1e1e43; }
.subunit.Jaintia_Hills{ fill: #727227; }
.subunit.Shimoga{ fill: #838321; }
.subunit.Cuddapah{ fill: #8a8a1e; }
.subunit.Karimganj{ fill: #d8d804; }
.subunit.North_Tripura{ fill: #a5a516; }
.subunit.Golaghat{ fill: #848420; }
.subunit.Hailakandi{ fill: #62622c; }
.subunit.Dimapur{ fill: #3d3d38; }
.subunit.Jorhat{ fill: #38383a; }
.subunit.North_Cachar_Hills{ fill: #2e2e3d; }
.subunit.Papum_Pare{ fill: #0d0d48; }
.subunit.Cachar{ fill: #111147; }
.subunit.Chikmagalur{ fill: #171745; }
.subunit.Lakhimpur{ fill: #39393a; }
.subunit.Mamit{ fill: #3e3e38; }
.subunit.Tumkur{ fill: #3f3f38; }
.subunit.Kolasib{ fill: #565630; }
.subunit.West_Kameng{ fill: #6b6b29; }
.subunit.Udupi{ fill: #727227; }
.subunit.Hassan{ fill: #90901c; }
.subunit.Sibsagar{ fill: #9e9e18; }
.subunit.Bangalore_Rural{ fill: #b4b411; }
.subunit.Thiruvallur{ fill: #c8c80a; }
.subunit.Chennai{ fill: #d2d207; }
.subunit.Kohima{ fill: #c8c80a; }
.subunit.Dhemaji{ fill: #aeae12; }
.subunit.Chittoor{ fill: #999919; }
.subunit.Bangalore{ fill: #97971a; }
.subunit.East_Kameng{ fill: #92921c; }
.subunit.Wokha{ fill: #90901c; }
.subunit.Kolar{ fill: #727226; }
.subunit.Kancheepuram{ fill: #57572f; }
.subunit.Dakshina_Kannada{ fill: #4c4c33; }
.subunit.Dibrugarh{ fill: #232341; }
.subunit.Mandya{ fill: #1b1b43; }
.subunit.Mokokchung{ fill: #1a1a44; }
.subunit.Vellore{ fill: #0f0f48; }
.subunit.Lower_Subansiri{ fill: #141446; }
.subunit.Aizawl{ fill: #212141; }
.subunit.Mysore{ fill: #3c3c39; }
.subunit.Kasaragod{ fill: #3f3f38; }
.subunit.Mon{ fill: #505032; }
.subunit.Kodagu{ fill: #535331; }
.subunit.Tinsukia{ fill: #858520; }
.subunit.Senapati{ fill: #a4a416; }
.subunit.Chamarajanagar{ fill: #c1c10c; }
.subunit.Tiruvannamalai{ fill: #b9b90f; }
.subunit.Tawang{ fill: #9f9f17; }
.subunit.Zunheboto{ fill: #91911c; }
.subunit.Yanam{ fill: #868620; }
.subunit.Pondicherry{ fill: #868620; }
.subunit.Tirap{ fill: #848421; }
.subunit.Dharmapuri{ fill: #828221; }
.subunit.Viluppuram{ fill: #7e7e22; }
.subunit.Wayanad{ fill: #535331; }
.subunit.Cuddalore{ fill: #37373a; }
.subunit.Imphal_West{ fill: #37373a; }
.subunit.Imphal_East{ fill: #36363b; }
.subunit.Tuensang{ fill: #2a2a3f; }
.subunit.Kannur{ fill: #262640; }
.subunit.Phek{ fill: #1e1e42; }
.subunit.Changlang{ fill: #121247; }
.subunit.Mahe{ fill: #0d0d48; }
.subunit.Thoubal{ fill: #131346; }
.subunit.Bishnupur{ fill: #212141; }
.subunit.Serchhip{ fill: #212141; }
.subunit.Tamenglong{ fill: #28283f; }
.subunit.Ukhrul{ fill: #5c5c2e; }
.subunit.Salem{ fill: #61612c; }
.subunit.East_Siang{ fill: #62622c; }
.subunit.The_Nilgiris{ fill: #6e6e28; }
.subunit.Lohit{ fill: #777725; }
.subunit.Churachandpur{ fill: #a5a515; }
.subunit.Chandel{ fill: #b1b111; }
.subunit.Kozhikode{ fill: #dada04; }
.subunit.Erode{ fill: #d5d506; }
.subunit.West_Siang{ fill: #b3b311; }
.subunit.Perambalur{ fill: #aaaa14; }
.subunit.Namakkal{ fill: #a6a615; }
.subunit.Malappuram{ fill: #94941b; }
.subunit.Ariyalur{ fill: #94941b; }
.subunit.Coimbatore{ fill: #757525; }
.subunit.Ramanathapuram{ fill: #727227; }
.subunit.Karaikal{ fill: #6f6f27; }
.subunit.Thiruvarur{ fill: #2e2e3d; }
.subunit.Nagapattinam{ fill: #27273f; }
.subunit.Karur{ fill: #262640; }
.subunit.Thanjavur{ fill: #08084a; }
.subunit.Tiruchirappalli{ fill: #28283f; }
.subunit.Lunglei{ fill: #34343b; }
.subunit.Palakkad{ fill: #474735; }
.subunit.Thrissur{ fill: #a2a216; }
.subunit.Champhai{ fill: #a9a914; }
.subunit.Pudukkottai{ fill: #e2e201; }
.subunit.Dindigul{ fill: #dada04; }
.subunit.Ernakulam{ fill: #29293f; }
.subunit.Madurai{ fill: #141446; }
.subunit.Lawngtlai{ fill: #2e2e3d; }
.subunit.Theni{ fill: #3d3d38; }
.subunit.Sivaganga{ fill: #4a4a34; }
.subunit.Virudhunagar{ fill: #9f9f17; }
.subunit.Alappuzha{ fill: #a2a217; }
.subunit.Kottayam{ fill: #b8b80f; }
.subunit.Idukki{ fill: #d8d805; }
.subunit.Saiha{ fill: #65652b; }
.subunit.Pathanamthitta{ fill: #404037; }
.subunit.Kollam{ fill: #202042; }
.subunit.Thoothukkudi{ fill: #67672a; }
.subunit.Tirunelveli{ fill: #6b6b29; }
.subunit.Thiruvananthapuram{ fill: #c7c70a; }
.subunit.Kanniyakumari{ fill: #27273f; }
